<li>
  <div class="card mb-3">      
    <div class="card-body">
      <div class="card-text">
        <p><%= comment.author.name %>: <%= comment.text %></p>
        <p class='text-end'><%= delete_comment(comment) %></p>
      </div>
    </div>
  </div>
</li>