<li>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-2 img-card">
        x
      </div>
      <div class="col-10">
        <div class="card-body">
          <h5 class="card-title">Username</h5>
          <p class="card-text text-end"><small class="text-muted">Number of posts x</small></p>
        </div>
      </div>
    </div>
  </div>
</li>