<main class='content container'>
  <ul>
    <li><%= render @user %></li>
    <li><%= render 'bio', user: @user %></li>
    <% @user.first_3_posts.each do |post| %>
      <li><%= render post %></li>
    <% end %>
  </ul>
  <div class="text-center">
    <%= link_to 'See all posts', user_posts_path(@user), class: 'btn btn-primary' %>
  </div>
</main>