<li>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Post by username</h5>
      <p class="card-text text-end"><small class="text-muted">Comments X, Likes Y</small></p>
      <p class="card-text">
        I'm baby snackwave knausgaard direct trade venmo. Slow-carb photo booth 90's trust fund, crucifix viral cardigan pok pok vibecession letterpress keytar yes plz vegan kale chips direct trade. Tumeric hexagon pok pok, tattooed crucifix cold-pressed schlitz artisan slow-carb. Crucifix pitchfork tousled direct trade health goth. Tilde tote bag fam quinoa keffiyeh, celiac literally schlitz fixie intelligentsia meggings street art live-edge. Prism health goth cliche art party hexagon man braid.
        Art party yr echo park, schlitz 8-bit artisan iceland VHS glossier craft beer twee truffaut sus godard you probably haven't heard of them. Stumptown umami wolf man braid slow-carb bicycle rights, bitters skateboard photo booth pickled. Yes plz polaroid kogi coloring book fixie, sartorial vibecession. Flexitarian tbh marxism, coloring book photo booth cliche church-key dreamcatcher four loko PBR&B.
      </p>
      <p class="card-text">
        Vexillologist blog viral, cronut seitan solarpunk fanny pack +1 tofu bruh man braid lyft marxism raw denim vaporware. Prism bitters post-ironic, poke vegan irony banjo palo santo. Distillery gastropub chartreuse, pok pok plaid seitan bicycle rights mixtape cornhole pour-over. Gastropub cliche meh, ascot mlkshk sartorial air plant pok pok synth helvetica wolf pinterest.
      </p>      
    </div>
  </div>
</li>