<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Post by <%= post&.author&.name %></h5>
    <p class="card-text text-end"><small class="text-muted">Comments <%= post.comments_counter %>, Likes <%= post.likes_counter %></small></p>
    <p class="card-text">
      <%= post.text %>
    </p>      
  </div>
</div>