<li>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Post X</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, 
        sapien vel bibendum lacinia, velit sapien tincidunt nunc, vel ultrices 
        velit velit vel velit.
      </p>
      <p class="card-text text-end"><small class="text-muted">Comments X, Likes Y</small></p>
    </div>
  </div>
</li>