<main class='content container'>
  <h1>List of posts from <%= @user&.name %></h1>
  <ul>
    <li><%= render @user %></li>
    <% @posts.each do |post| %>
      <li><%= render post %></li>
      <% post.last_five_comments.each do |comment| %>
        <li><%= render comment %></li>
      <% end %>
    <% end %>
  </ul>
  <div class="text-center">
    <button class='btn btn-primary'>Pagination</button>
  </div>
</main>