<p>Welcome <%= @email %>!</p>
<p>This is your auth token to post comments through our API: <%= @resource.auth_token %></p>
<p>You can confirm your account email through the link below:</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
